<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Add your new post</h1>
    <form method="post" action="/instagram">
        <input type="text" placeholder="Enter your username" name="username">
        <input type="text" placeholder="Enter your post url" name="image">
        <input type="text" placeholder="Enter your comment here" name="comment">
        <button>Post</button>
    </form>
</body>
</html>